@import url(reset.css);

.wrap {
	min-width: 300px;
    	max-width: 1200px;
	border: 1px solid #2F4F4F;
	background: #242424;
	margin: 0 auto;
	padding: 10px 15px;
	}

p {
	margin: 10px 0 0;
	}
	p:first-child {
		margin-top: 0;
		color: #6ce8ff;
		}

/*p:last-child {
	margin-bottom: 0;
}*/

.left {
	background: #808080;
	float: left;
	width: 200px;
	padding: 20px;
	color: #FFFFFF;
	}

	.left p:first-child {
		color: #000;
		}	

.right {
	background: #778899;
	padding: 20px;
	color: black;
	margin-left: 250px;
	}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

/*.clear {
	clear: both;
}*/

